.header {
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include set-background($extra-light-purple);
  @include center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: center;

  &__timer-category {
    height: 100%;
    @include center;
    flex-direction: column;
    border-right: $white 1px solid;
    border-left: $white 1px solid;
  }

  &__quiz-category {
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__score,
  &__best-score {
    flex: 33.333%;
    font-size: 18px;

    &-counter {
      margin-left: 5px;
    }
  }

  &__game-timer {
    height: 45px;
    width: 45px;
    position: relative;

    &-item {
      width: 100%;
      height: 100%;
    }

    &-number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 4px;
      color: $gray;
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__timer-category {
    flex: 33.333%;
  }
}

@include desktop {
  .header {
    height: 35px;

    &__game-timer {
      position: fixed;
      top: 50%;
      right: 15px;
      height: 80px;
      width: 80px;
      transform: translateY(-50%);

      &-number {
        font-size: 30px;
        margin-top: 7px;
      }
    }

    &__quiz-category {
      font-size: 25px;
    }

    &__score,
    &__best-score {
      font-size: 25px;
    }
  }
}
