@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

@function set-text-color($bg-color) {
  @if (lightness($bg-color) > 70) {
    @return $gray;
  } @else {
    @return $white;
  }
}

@mixin tablet {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
