.game {
  padding: 70px 0 0 0;
  overflow-y: hidden;
  height: 100vh;
  background: linear-gradient(180deg, $dark-purple 0%, $light-purple 100%);
  display: flex;

  &__question-illustration {
    width: 100%;
    height: 30vh;
    box-shadow: $extra-dark-purple 0 0 10px;
    border-radius: 20px;
    margin-bottom: 20px;

    &-item {
      border: 3px $extra-light-purple solid;
      border-radius: 20px;
      width: 100%;
      height: 100%;
    }
  }

  &__question,
  &__questions-counter {
    color: $white;
    text-align: center;
    font-size: 20px;
  }

  &__question {
    margin: 2vh 0;
    text-shadow: $extra-dark-purple 0 0 10px;
    font-size: 20px;
  }

  &__answers {
    display: grid;
    grid-template-columns: max(1fr) max(1fr);
    grid-template-rows: max(1fr) max(1fr);
    gap: 20px;
    flex: 1;

    &-item {
      @include center;
      font-weight: 700;
      padding: 0 15px;
      border: 3px $extra-light-purple solid;
      border-radius: 8px;
      @include set-background($white);
      word-break: break-word;
    }
  }

  &__correct-answer {
    transition: all 0.3s;
    @include set-background($green);
  }

  &__wrong-answer {
    transition: all 0.3s;
    @include set-background($red);
  }

  &__extra-info {
    position: relative;
  }

  &__volume-btn {
    position: absolute;
    right: 0;
    bottom: -4px;

    &-icon {
      background: url(/image/icons/volume-up-4-32.png) center / cover;
      width: 35px;
      height: 35px;

      &--muted {
        background: url(/image/icons/mute-2-32.png) center / cover;
        width: 30px;
        height: 30px;
      }
    }
  }
}

@include tablet {
  .game {
    &__question-illustration {
      height: 37vh;
    }
  }
}

@include desktop {
  .game {
    padding: 35px 0 0 0;

    &__extra-info {
      position: static;
    }

    &__volume-btn {
      bottom: 20px;
      right: 10px;
      height: 40px;

      &-icon,
      &-icon--muted {
        width: 40px;
        height: 40px;
      }
    }

    &__questions-counter {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 29px;
      background-color: $white;
      color: $gray;
      width: 140px;
      height: 70px;
      @include center;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border: 3px $extra-light-purple solid;
      border-left: none;
    }

    &__question {
      font-size: 30px;
    }

    &__question-illustration {
      margin-bottom: 0;
      height: 45vh;
    }
  }
}
