.quizes {
  padding-top: 75px;
  background: linear-gradient(180deg, $dark-purple 0%, $light-purple 100%);
  min-height: 100vh;

  &-container {
    display: grid;
    grid-template-columns: max(1fr) max(1fr);
    gap: 20px;
  }

  &__back-btn {
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 2000;
    @include center;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    font-weight: 700;
    border: 3px $extra-light-purple solid;
    @include set-background($white);
  }

  &__create-quiz-btn {
    left: 8px;
    font-size: 30px;
  }
}

.quiz {
  @include set-background($white);
  border-radius: 10px;
  width: 100%;

  &__title {
    padding: 5px;
    text-align: center;
    font-size: 16px;
  }

  &__img {
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &-item {
      height: 100%;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

@include tablet {
  .quizes-container {
    grid-template-columns: repeat(3, max(1fr));
  }
}

@include desktop {
  .quizes .container {
    padding: 20px 40px;
  }

  .header-home {
    height: 72px;
  }

  .quizes-container {
    grid-template-columns: repeat(5, max(1fr));
  }
}
