.result {
  max-width: 500px;
  min-height: 100vh;
  padding: 20px;

  background: linear-gradient(180deg, $dark-purple 0%, $light-purple 100%);
  @include center;
  flex-direction: column;
  gap: 30px;

  color: $white;
  font-size: 18px;
  text-align: center;

  &__end-phrase {
    font-size: 30px;
  }

  &__game-restart,
  &__menu {
    @include center;
    height: 80px;
    width: 100%;
    font-weight: 700;
    border: 3px $extra-light-purple solid;
    border-radius: 8px;
    @include set-background($white);
  }

  &__btns {
    @include center;
    gap: 15px;
    width: 100%;
    padding: 15px;
  }
}

@include tablet {
  .result {
    gap: 40px;
    max-width: 1024px;
    padding: 20px 50px;
    font-size: 22px;

    &__game-restart,
    &__menu {
      width: 200px;
    }

    &__end-phrase {
      font-size: 32px;
    }
  }
}

@include desktop {
  .result {
    font-size: 23px;
    max-width: 1950px;

    &__end-phrase {
      font-size: 35px;
    }

    &__game-restart,
    &__menu {
      width: 250px;
    }
  }
}
