html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Unbounded', cursive;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding: 12.5px 15px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@include tablet {
  .container {
    max-width: 850px;
  }
}

@include desktop {
  .container {
    max-width: 1850px;
    padding: 15px 170px;
  }
}
