$extra-dark-purple: rgb(149, 31, 223);
$dark-purple: rgb(153, 37, 255);
$purple: rgb(177, 39, 255);
$light-purple: rgb(185, 66, 236);
$extra-light-purple: rgb(214, 51, 255);
$white: #ffffff;
$gray: rgb(120, 125, 127);
$green: rgb(95, 193, 65);
$red: rgb(193, 65, 65);
